[submodule "libzcash-ironwood-c"]
	path = libzcash-ironwood-c
	url = https://github.com/wh00hw/libzcash-ironwood-c.git
[submodule "librustzcash"]
	path = librustzcash
	url = https://github.com/zcash/librustzcash.git
